/* CSS Document */


/*PAGE LAYOUT*/
body {
  background-color: #666666;
  color: #666666;
}

#page {
  background-color: white;
  margin: 40px auto;
  padding: 0 40px 20px;
  width: 870px;
}

#headercontent{
   font: 0.8em Tahoma, sans-serif;
   background-color: rgb(229,25,55);
   color: #666666;
   padding: 10px;

   text-align: left;
   margin-top: 5px;
   margin-left:200px;
   height:100px;
}
#topheader{
  background-color:white;
  background-image:url(/images/dannish/danishschooldownunder.gif);
  background-repeat:no-repeat;
  background-position:0px 8px;
  height:150px;  
}

#infopanel{
   margin-top:20px;
}
#footer{float:left; width:800px; background-color:#F0F0F0; padding:10px;}


#headermenu ul li {
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    list-style: none outside none;
    margin-top: 68px;
    padding-left: 10px;
    padding-right: 20px;
}

#headermenu ul li a:hover{
    text-decoration:none;
    color: #101010;
    background:inherit;   
}

#headermenu ul li a{
    text-decoration:none;
    color: white;   
}



#pagecontent {
   font: 0.8em Tahoma, sans-serif;
   background-color: white;
   color: #666666;
   padding: 10px;
   text-align: left;
   margin-top: 5px;
   width:500px;
   display:inline;   
   
 }


#pagecontent body, #pagecontent p, #pagecontent ol, #pagecontent ul, #pagecontent td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*GRAY PANEL*/
.graypanel{
   /*border:solid 1px #666666;*/ 
   /*background-color:#F7F7F7;*/
 /*background-color:rgb(185,171,150);*/
background-color:rgb(224,213,197);
 
   font: 0.8em Tahoma, sans-serif;
   color: #666666;
   padding:10px; 
   margin-bottom:10px;
   float: top;
}

.graypanel p {
   
   font: Tahoma, sans-serif;
   color: #666666;

}

/*TEXT STYLES*/
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

#topheader .bodytext {
	margin-left: 10px;
}


h1 {
  color:rgb(229,25,55);
  font-family:Tahoma,sans-serif;
  font-size:28px;
  font-weight:normal;
  /*border-left: 2px solid rgb(229,25,55); 
  margin-left: -5px;
  padding-left: 5px; */
}

h2 {
  color:rgb(229,25,55);
  font-family:Tahoma,sans-serif;
  font-size:24px;
  font-weight:normal;
}

h3 {
  color:rgb(229,25,55);
  font-family:Tahoma,sans-serif;
  font-size:22px;
  font-weight:normal;
}


.titletext {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#CC0000;
}
.whitetitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:#FFFFFF;
}
.smalltitle {
	font: 0.7em Tahoma, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#CC0000;
}
.smallwhitetext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
}
.smallwhitetext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration:none;
}
.smallwhitetext a:hover{
	text-decoration:underline;
}
.smallgraytext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
}
.smallgraytext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#999999;
	text-decoration:none;
}
.smallgraytext a:hover{
	text-decoration:underline;
}
.smallredtext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
}
.smallredtext a{
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
.smallredtext a:hover{
	text-decoration:underline;
}


#navigation {
  padding-top:5px;
  font-family:Tahoma,sans-background-colorserif;
  font-size: 0.9em;
}

#navigation ul {
  list-style: none;
  margin: 0; 
  padding: 0;
  padding-top: 1em;
}

#navigation li {
  display: inline;
}

#navigation a:link, #navigation a:visited {
  padding-left: 8px;
  padding-right: 20px;
  color: #666666;
  background-color: white; 
  text-decoration: none;
  border-left: 1px solid #666666;
}
#navigation a:hover {
 padding-left: 8px; 
 color: #101010;
 /*border-left: 2px solid #101010;*/
}

/* for new page */
#news h2 {
  font-size:18px;
}
#news div.newstext {
  margin-top: -10px;
  margin-bottom: 5px;
}

#news div.allnewletters {
  float:right;
  width:150px;
  padding:0px 10px 20px 10px;
  margin-right:40px;
  margin-top:30px;
  background-color: rgb(229,25,55);
  color:white; 
}

#news div.allnewletters h2{
  color:white; 
  font-size:20px;
}

#news div.allnewletters a{
  color:white;
  text-decoration:none; 
}

#news div.allnewletters a:hover{
  color:#101010;
  text-decoration:none;
  background-color: rgb(229,25,55);
}
