/* CSS Document */


/*PAGE LAYOUT*/
body {
  background-color: #666666;
  color: #666666;
}

#page {
  background-color: white;
  margin: 40px auto;
  padding: 0 40px 20px;
  width: 870px;
}

#headercontent{
   font: 0.8em Tahoma, sans-serif;
   background-color: rgb(229,25,55);
   color: #666666;
   padding: 10px;
   text-align: left;
   margin-top: 5px;
   margin-left:200px;
   height:100px;
}
#topheader{
  background-color:white;
  background-image:url(/images/dannish/danishschooldownunder.gif);
  background-repeat:no-repeat;
  background-position:0px 8px;
  height:150px;  
}

#infopanel{
   margin-top:20px;
}

/* quick links at top right */
#headermenu ul li {
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    list-style: none outside none;
    margin-top: 68px;
    padding-left: 10px;
    padding-right: 20px;
}
#headermenu ul li a:hover{
    text-decoration:none;
    color: #101010;
    background:inherit;   
}
#headermenu ul li a{
    text-decoration:none;
    color: white;   
}



/* user defined page content within this area */ 
#pagecontent {
   font: Tahoma, sans-serif;
   font-size: 0.9em;
   background-color: white;
   color: #666666;
   padding: 10px;
   text-align: left;
   margin-top: 5px;
   width:570px;
   display:block;   
 }

#pagecontent a {
   color: #444444;
}

#pagecontent a:hover {
   color: #101010;
}


/*TEXT STYLES  -- are these used ? */
.bodytext {
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}

#topheader .bodytext {
	margin-left: 10px;
}


h1 {
  color:rgb(229,25,55);
  font-family:Tahoma,sans-serif;
  font-size:28px;
  font-weight:normal;
}

h2 {
  color:rgb(229,25,55);
  font-family:Tahoma,sans-serif;
  font-size:24px;
  font-weight:normal;
}

h3 {
  color:rgb(229,25,55);
  font-family:Tahoma,sans-serif;
  font-size:22px;
  font-weight:normal;
}

/* Floating panels to right */
.graypanel{
  background-color:rgb(224,213,197);
  font: 0.8em Tahoma, sans-serif;
  color: #666666;
  padding:10px; 
  margin-bottom:10px;
  float: top;
}

.graypanel p {
   font: Tahoma, sans-serif;
   color: #666666;
}
.graypanel .title {
	font-size:20px;
	font-weight:normal;
	color:rgb(229,25,55);
}
.graypanel .smalltitle {
	font-size:14px;
	font-weight:normal;
	color:rgb(229,25,55);
}
.graypanel  a{
	font: Tahoma, sans-serif;
	text-decoration:underline;
        color: #444444;
}
.graypanel  a:visited{
  font: Tahoma, sans-serif;
  text-decoration:underline;
  color: #444444;
}
.graypanel  a:hover{
  color: #101010;
  /*background-color:rgb(224,213,197); */
}

/* Main Navigation Menu */
#navigation {
  padding-top:5px;
  font-family:Tahoma,sans-serif;
  font-size: 0.9em;
}
#navigation ul {
  list-style: none;
  margin: 0; 
  padding: 0;
  padding-top: 1em;
}
#navigation li {
  display: inline;
}
#navigation a:link, #navigation a:visited {
  padding-left: 8px;
  padding-right: 20px;
  color: #666666;
  background-color: white; 
  text-decoration: none;
  border-left: 1px solid #666666;
}
#navigation a:hover {
 padding-left: 8px; 
 color: #101010;
 /*border-left: 2px solid #101010;*/
}

/* for new page */
#news h2 {
  font-size:18px;
}
#news div.newstext {
  margin-top: -10px;
  margin-bottom: 5px;
}

#news div.allnewletters {
  float:right;
  width:150px;
  padding:0px 10px 20px 10px;
  margin-right:40px;
  margin-top:30px;
  background-color: rgb(229,25,55);
  color:white; 
}

#news div.allnewletters h2{
  color:white; 
  font-size:20px;
}

#news div.allnewletters a{
  color:white;
  text-decoration:none; 
}

#news div.allnewletters a:hover{
  color:#101010;
  text-decoration:none;
  background-color: rgb(229,25,55);
}page
