<h1>New event</h1>

<%= render "shared/error_messages", :target => @event %> 
<% form_for(@event) do |f| %>

  <%= render :partial => 'form_fields', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
