<h1>Lesson content</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Class</th>
  </tr>

<% @lessons.reverse.each do |lesson| %>
  <% if lesson.event # should be moved to domain model%>
  <tr>
    <td><%=h lesson.event.event_date.to_formatted_s(:day_month_year) %></td>
    <td><%=h lesson.taught_class.name %></td>
    <td><%= link_to 'Show', lesson %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br/>

