<div class="graypanel" align="justify">
  <span class="title">Latest news</span><br><br>
  
    <span class="smalltitle"><%=NewsItem.latest_news.news_date.to_formatted_s :date_as_words %>
    </span> 
    <%=to_html(NewsItem.latest_news.news_text)%>
    
    <p><%= link_to "More news and old newsletters", :controller => :content, :action => :news %></p>
  
 </div>
