<div class="graypanel" align="justify">
  <span class="smalltitle">News</span><br><br>
  
  <% @news.each do |news| %>
    <span class="smallredtext"><%=news.news_date.to_formatted_s :day_month_year %>
    <br/></span> 
    <%=to_html(news.news_text)%>
    <br/>
     
  <% end %>
  
 </div>