<%= to_html(@header.content) %>
<table>


<% @newsletters.each do |letter| %>
  <tr>
    <td><%=h letter.created_at.to_formatted_s(:long) %></td>
    <td><%= link_to 'Download', :controller => 'attachment', :action => 'download', :id => letter.id %></td>
  </tr>
<% end %>
</table>
<br>
<%= to_html(@footer.content) %>


